.item-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 295px;
    height: 480px;
    padding: 20px;
    background-color: #F5F4F2;
    align-items: center;
    border-radius: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.image {
    height: 297px;
    border-radius: 20px;
}

.title {
    text-align: center;
}

.price {
    text-align: center;
}

.button {
    border: none;
    background: none;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-dark-brown);
}

.button:hover {
    color: #725446;
}

.colors-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.color {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}