@media (390px <= width < 768px) {
}

@media (768px <= width < 1280px) {
}

@media (1280px <= width < 1440px) {
}

@media (1440px <= width) {
}

.hits-block {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (390px <= width < 768px) {
        width: 100%;
        padding-left: 5%;
        /*justify-self: center;*/
    }
    @media (768px <= width) {
        justify-self: center;
        position: relative;
    }
}

.hits-cards {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.hits-description {
    position: absolute;
    width: 610px;
    height: 192px;
    left: calc(50% - 610px / 2 + 315px);
    top: 772px;
    font-family: 'Exo 2', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--main-brown);
}

.hits-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hits-text {
    color: var(--main-dark-brown);
}

.carousel-block {
    max-height: 800px;
}

.select-block {
    position: relative;
    /*height: 700px;*/
}

.select-block__image {
    width: 100%;
}

.button-1 {
    position: absolute;
    left: 16.53%;
    right: 80.69%;
    top: 81.71%;
    bottom: 12.57%;
}

.button-2 {
    position: absolute;
    left: 44.31%;
    right: 52.92%;
    top: 21.29%;
    bottom: 73%;
}

.button-3 {
    position: absolute;
    left: 68.26%;
    right: 28.96%;
    top: 64.57%;
    bottom: 29.71%;
}

.card {
    position: absolute;
    z-index: 100;
    right: 7%;
    top: 115px;
}

.about-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.about-block__container {
    display: flex;
    flex-direction: row;
    @media (380px <= width < 768px) {
        position: relative;
        justify-self: center;
        flex-wrap: wrap;
        margin-bottom: 84px;
        border-left: var(--main-light-brown) 1px solid;
    }
    @media (768px <= width) {

    }
}

.about-block__brick {
    display: flex;
    flex-direction: column;
    @media (380px <= width < 768px) {
        width: 100%;
        gap: 60px;
        padding-left: 15px;
    }
    @media (768px <= width) {
        width: 295px;
        padding-top: 90px;
        padding-bottom: 90px;
        gap: 120px;
    }
}

.about-block__brick-p {
    color: var(--main-dark-brown);
}

.first-brick {
    @media (380px <= width < 768px) {
        width: 50%;
        /*width: 162px;*/
        height: 400px;
        padding-top: 80px;
        padding-right: 5%;
    }
    @media (768px <= width) {
        margin-right: 20px;
    }
}

.empty-brick {
    @media (380px <= width < 768px) {
        display: none;
    }
}

.third-brick {
    @media (380px <= width < 768px) {
        /*width: 178px;*/
        width: 50%;
        border-right: var(--main-light-brown) 1px solid;
        padding-top: 80px;
        padding-right: 5%;
    }
    @media (768px <= width) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.last-brick {
    @media (380px <= width < 768px) {
        width: 100%;
        /*padding-right: 15px;*/
        padding-right: 10%;
    }
    @media (768px <= width) {
        margin-left: 20px;
        width: 277px;
    }
}

.about-block__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-block__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.brick-header-text {
    color: var(--main-brown);
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
    @media (380px <= width < 768px) {
        font-size: 24px;
    }
    @media (768px <= width) {
        font-size: 42px;
    }
}

.about-block__h2 {
    color: var(--main-dark-brown);
}

.about-block__h4 {
    color: var(--main-light-brown);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    @media (380px <= width < 768px) {
        font-size: 12px;
    }
    @media (768px <= width) {
        font-size: 16px;
    }
}

.about-block__p {
    color: var(--main-dark-brown);
}

.about-block__hr {
    border: 1px solid var(--main-light-brown);
    margin: 0;
    @media (380px <= width < 1280px) {
        display: none;
    }
}

.middle-hr {
    display: block;
    @media (380px <= width < 768px) {
        position: absolute;
        height: 317px;
        border: 1px solid var(--main-light-brown);
        top: 0;
        left: 50%;
        z-index: 1000;
    }
    @media (768px <= width) {
        height: 458px;
    }
}

.about-block__footer {
    display: flex;
    width: 100%;
    align-items: center;
    @media (390px <= width < 768px) {
        flex-direction: column;
        gap: 80px;
    }
    @media (768px <= width) {
        flex-direction: row;
        gap: 125px;
    }
}

.about-block__image {
    height: 469px;
    background-image: url("https://storage.yandexcloud.net/papalapa-storage/website/about-image.png");
    @media (380px <= width < 1280px) {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    @media (1280px <= width) {
        width: 50%;
        min-width: 610px;
        background-position-y: -120%;
        background-size: cover;
    }
}

.about-block__description {
    display: flex;
    flex-direction: column;
    @media (390px <= width < 768px) {
        gap: 40px;
    }
    @media (768px <= width < 1280px) {
        gap: 60px;
    }
    @media (1280px <= width) {
        justify-content: space-between;
    }
}

.about-block__description__header {
    display: flex;
    flex-direction: column;
    @media (390px <= width < 768px) {
        gap: 40px;
    }
    @media (768px <= width) {
        gap: 65px;
    }
}

.about-block__link {
    justify-content: left;
}

.about-block__link:hover .certificates {
    letter-spacing: -0.03em;
    text-decoration-line: underline;
}

.certificates {
    height: 22px;
    color: var(--main-dark-brown);
}

.image_block {
    width: 100%;
}

.image_block img {
    width: 100%;
}

.reviews-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-self: center;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    @media (1280px <= width < 1440px) {
        /*width: 1280px;*/
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }
}
