.hits-block {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (380px <= width < 768px) {
        width: 100%;
        padding-left: 5%;
        /*justify-self: center;*/
    }
    @media (768px <= width) {
        width: 100%;
        justify-self: center;
        position: relative;
    }
}

.hits-cards {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.pic_1 {
    position: absolute;
    top: 4100px;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.pic_1 img {
    position: relative;
    right: -50px
}

.pic_2 {
    position: absolute;
    top: 1500px;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.pic_2 img {
    position: relative;
    right: -120px;
}

.pic_3 {
    position: absolute;
    top: 2470px;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.pic_3 img {
    position: relative;
    left: -120px;
}

.hits-description {
    position: absolute;
    width: 610px;
    height: 192px;
    left: calc(50% - 610px / 2 + 315px);
    top: 772px;
    font-family: 'Exo 2', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--main-brown);
}

.hits-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hits-text {
    color: var(--main-dark-brown);
}

.carousel-block {
    max-height: 800px;
}

.select-block {
    position: relative;
    /*height: 700px;*/
}

.select-block__image {
    width: 100%;
    border-radius: 40px;
}

.button-1 {
    position: absolute;
    left: 16.53%;
    right: 80.69%;
    top: 81.71%;
    bottom: 12.57%;
}

.button-2 {
    position: absolute;
    left: 44.31%;
    right: 52.92%;
    top: 21.29%;
    bottom: 73%;
}

.button-3 {
    position: absolute;
    left: 68.26%;
    right: 28.96%;
    top: 64.57%;
    bottom: 29.71%;
}

.card {
    position: absolute;
    z-index: 100;
    right: 7%;
    top: 115px;
}

.about-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.about-title {
    width: 100%;
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: var(--main-dark-brown);
}

.certificates {
    height: 22px;
    color: var(--main-dark-brown);
}

.image_block {
    width: 100%;
}

.image_block img {
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.reviews-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-self: center;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: 560px;
    @media (1280px <= width < 1440px) {
        /*width: 1280px;*/
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }
}
