.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 253, 251, 0.5);
    border-radius: 10px;
    justify-self: center;
    @media (380px <= width < 768px) {
        width: 90vw;
    }
    @media (768px <= width < 960px) {
        width: 768px;
    }
    @media (960px <= width < 1280px) {
        width: 960px;
    }
    @media (1280px <= width < 1440px) {
        width: 1280px;
    }
    @media (1440px <= width) {
        width: 1440px;
    }
}

.button {
    height: 80px;
    background-color: red;
}

.menu {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    @media (380px <= width < 768px) {
        display: none;
    }

    @media (768px < width) {
        display: flex;
    }
}

.link {
    color: var(--main-dark-brown);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
}

.link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.logo {
    font-family: "Love Ya Like A Sister", cursive;
    color: var(--main-dark-brown);
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.wb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.wb:hover {
    cursor: pointer;
}