.footer {
    background-color: rgba(85, 68, 60, 0.33);
    /*width: 100%;*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: center;
    width: 90vw;
    @media (380px <= width < 768px) {
        gap: 40px;
        max-width: 760px;
    }
    @media (768px < width) {
        height: 358px;
    }
}

.footer-head {
    display: flex;
    width: 100%;
    @media (380px <= width < 768px) {
        flex-direction: column;
        align-items: center;
    }
    @media (768px < width) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo {
    font-family: "Love Ya Like A Sister", cursive;
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    font-style: normal;
    text-transform: lowercase;
    @media (380px <= width < 768px) {
        display: none;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    width: fit-content;
    height: 20px;
}

.link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.footer-foot {
    display: flex;
    @media (380px <= width < 768px) {
        flex-direction: column;
        gap: 50px;
    }
    @media (768px < width) {
        flex-direction: row;
        gap: 200px;
    }
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (380px <= width < 768px) {
        width: 100%;
    }
}

.socials-items {
    display: flex;
    @media (380px <= width < 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (768px < width) {
        flex-direction: column;
        gap: 10px;
    }

}

.contacts-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (380px <= width < 768px) {
        width: 100%;
    }
}

.contacts-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 70%;
    letter-spacing: -0.05em;
    color: #000000;
    margin: 0;
}

.item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #000000;
    margin: 0;
    width: fit-content;
    height: 20px;
    text-decoration: none;
}

.item:hover {
    @media (768px < width) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
}