.footer {
    background-color: rgba(85, 68, 60, 0.33);
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("https://storage.yandexcloud.net/papalapa-storage/website/Footer.svg");
    background-color: #FFF6E0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-self: center;
    width: 100%;
    @media (380px <= width < 768px) {
    }
    @media (768px < width) {
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0;
    color: #000000;
    text-decoration: none;
    width: fit-content;
    height: 20px;
}

.link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.footer__right_block {
    display: flex;
    background-color: #FFF6E0;
    border-radius: 20px;
    @media (380px <= width < 768px) {
        flex-direction: column;
        gap: 50px;
    }
    @media (768px < width) {
        flex-direction: row;
        gap: 60px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (380px <= width < 768px) {
        width: 100%;
    }
}

.socials__items {
    display: flex;
    @media (380px <= width < 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (768px < width) {
        flex-direction: column;
        gap: 10px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (380px <= width < 768px) {
        width: 100%;
    }
}

.contacts__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 70%;
    font-style: normal;
    color: #000000;
    margin: 0;
}