.wrapper {
    height: 100%;
    @media (380px <= width < 768px) {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        scrollbar-width: none;
        gap: 10px;
        max-width: calc(100vw);
    }
    @media (768px <= width) {
        /*display: grid;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
        /*grid-template-columns: 1fr 1fr 1fr;*/
        /*column-gap: 20px;*/
        row-gap: 40px;
    }
}