* {
    margin: 0;
    padding: 0;
}

:root {
    --main-dark-brown: #2D2421;
    --main-brown: #5A4841;
    --main-white: #FFFDFB;
    --main-light-brown: rgba(88, 75, 69, 0.5);
    --main-flutter-light-brown: rgba(85, 68, 60, 0.33);
}

h1 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--main-dark-brown);
}

h2 {
    margin: 0 !important;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 100% !important;
    letter-spacing: -0.05em;
    color: var(--main-dark-brown);
    @media (380px <= width < 768px) {
        font-size: 30px !important;
    }
    @media (768px <= width) {
        font-size: 32px !important;
    }
}

.main-text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--main-dark-brown);
    margin-bottom: 0;
    @media (380px <= width < 768px) {
        font-size: 14px;
    }
    @media (768px <= width) {
        font-size: 16px;
    }
}

.text-button-medium {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #000000;
}

.text-button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #000000;
}

.main-grid {
    @media (380px <= width < 768px) {
        padding-left: calc((100% - 390px) / 2);
        padding-right: calc((100% - 390px) / 2);
    }

    @media (768px <= width < 960px) {
        /*width: 768px;*/
        padding-left: calc((100% - 768px) / 2);
        padding-right: calc((100% - 768px) / 2);
    }

    @media (960px <= width < 1280px) {
        /*width: 960px;*/
        padding-left: calc((100% - 960px) / 2);
        padding-right: calc((100% - 960px) / 2);
    }

    @media (1280px <= width < 1440px) {
        /*width: 1280px;*/
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }

    @media (1440px <= width) {
        /*width: 1440px;*/
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
    }
}