.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--main-light-brown);
    height: 310px;
    @media (380px <= width < 768px) {
        width: 100%;
    }

    @media (768px <= width < 1280px) {
        width: 50%;
    }

    @media (1280px <= width) {
        width: 400px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 150px;
}

.left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 49%;
}

.image {
    border-radius: 10px;
    width: 160px;
    height: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.reviewer {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
}

.reviewer p {
    margin-bottom: 0;
    color: var(--main-light-brown);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-title {
    margin-bottom: 0;
    color: var(--main-light-brown);
}

.item-name {
    margin-bottom: 0;
    color: var(--main-brown);
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.text {
    color: var(--main-dark-brown);
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.text:hover {*/
/*    cursor: ns-resize;*/
/*}*/